[submodule "github.com/ulikunitz/xz"]
	path = vendor/github.com/ulikunitz/xz
	url = https://github.com/ulikunitz/xz.git
[submodule "github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf.git
